.home {
  padding: 6rem 30rem 4rem 30rem; 

  @include respond(laptop-md) {
    padding: 6rem 20rem 4rem 20rem;
  }

  @include respond(tablet) {
    padding: 8rem 10rem 6rem 10rem;
  }

  @include respond(phone-lg) {
    padding: 8rem 5rem 6rem 5rem;
  }
  
  .intro {
    margin-bottom: 2rem;
    padding: 2rem 7rem;

    @include respond(laptop-md) {
      padding: 1.5rem 5rem;
    }

    &--heading {
      margin-bottom: 2rem;
      text-align: center;
    }

    &--text {
      font-size: 1.7rem;
    }
  }

  .floor {
    height: 30rem;
    margin-bottom: 3rem;

    @include respond(laptop-md) {
      height: 25rem;
    }

    @include respond(tablet) {
      height: 20rem;
    }

    & img {
      height: 100%;
    }

    &--choice {
      justify-content: space-around;
    }
  }
}